<div class="create-state">
    <h1 class="create-state__title">Create</h1>
    <cap-article-form article="createState.article"></cap-article-form>
    <button id="create-article-button" class="create-state__btn">Create</button>
</div>
