<div class="cap-dialog" ng-if="$ctrl.show">
    <div class="dialog-overlay"
         ng-click="$ctrl.closeDialog()"></div>
    <div class="dialog-container">
        <button class="dialog-close-button"
                type="button"
                title="Close"
                ng-click="$ctrl.closeDialog()">
            <i class="fa fa-times"></i>
        </button>
        <div class="dialog-wrapper">
            <h1 class="dialog-title"
                ng-bind="$ctrl.title"></h1>
            <div class="dialog-content"
                 ng-transclude></div>
            <button class="dialog-btn-submit"
                    ng-click="$ctrl.closeDialog()">Close</button>
        </div>
    </div>
</div>

