@import "variables";

.cap-dialog {
    .dialog-overlay {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $gray-dark;
        opacity: 0.7;
    }

    .dialog-container {
        position: fixed;
        z-index: 1000;
        height: 80%;
        overflow-y: auto;
        top: 10%;
        left: 50%;
        width: 750px;
        transform: translate(-50%);
        background-color: #fff;
        border-radius: $border-radius-small;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);

        button.dialog-close-button {
            color: $gray;
            font-size: $font-size-base-big;
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px;
            border: none;
            background: transparent;

            &:hover {
                color: $gray-regular;
                cursor: pointer;
                transition: color $transition-ease-fast;
            }
        }

        .dialog-wrapper {
            padding: 70px 100px;

            .dialog-title {
                margin-top: 0;
                padding-bottom: 5px;
                border-bottom: 2px solid $red;
                color: $red;
            }

            button.dialog-btn-submit {
                margin-top: 12px;
                font-size: $font-size-small;
                color: #fff;
                background-color: $cyan;
                padding: 6px 20px;
                border: none;
                border-radius: $border-radius-small;

                &:hover {
                    background-color: $cyan-dark;
                    transition: background-color $transition-ease-normal;
                    cursor: pointer;
                }
            }
        }
    }
}
