<div class="application">
    <header class="container-fluid application-header">
        <div class="header-content">
            <button class="side-nav-toggle header-btn" type="button" ng-click="application.toggleMenu()">
                <i class="fa fa-bars"></i>
            </button>
            <div ng-click="application.goToState('app.code-editor')" class="header-logo">
                <img src="build/components/application/images/cap-logo.png" alt="code and pain logo">
            </div>
            <div class="user-account-wrapper">
                <div class="user-name"
                     ng-show="application.isUserLoggedIn()"
                     ng-bind="application.getUserName()"
                     ng-click="application.goToState('app.profile', {id: application.getUserId()})"></div>
                <button class="user-account header-btn"
                        type="button"
                        title="Log in"
                        ng-hide="application.isUserLoggedIn()"
                        ng-click="application.goToState('app.login')">
                    <i class="fa fa-sign-in"></i>
                </button>
                <button class="user-account header-btn"
                        type="button"
                        title="Log out"
                        ng-show="application.isUserLoggedIn()"
                        ng-click="application.logout()">
                    <i class="btn-logout fa fa-sign-out"></i>
                </button>
            </div>
        </div>
    </header>
    <div class="overlay"
         ng-click="application.toggleMenu()"
         ng-class="{'overlay-hidden': !application.showMenu, 'overlay-show': application.showMenu}"></div>
    <nav class="application-navigation"
         ng-class="{'nav-hidden': !application.showMenu, 'nav-expanded': application.showMenu}">
        <div class="nav-wrapper">
            <ul class="list-unstyled">
                <li ng-click="application.goToState('app.code-editor')"
                    ng-class="{'active-page': application.isState('app.code-editor')}">
                    <span class="menu-item"><i class="fa fa-code"></i>Editor</span>
                </li>
                <li ng-show="application.authService.isAdmin()"
                    ng-click="application.goToState('app.users')"
                    ng-class="{'active-page': application.isState('app.users')}">
                    <span class="menu-item"><i class="fa fa-user"></i>Users</span>
                </li>
                <li ng-click="application.goToState('app.blog.articles')"
                    ng-class="{'active-page': application.isState('app.blog.articles')}">
                    <span class="menu-item"><i class="fa fa-book"></i>Blog</span>
                </li>
                <li ng-click="application.goToState('app.about')"
                    ng-class="{'active-page': application.isState('app.about')}">
                    <span class="menu-item"><i class="fa fa-question-circle"></i>About</span>
                </li>
            </ul>
            <div class="copyright">
                <span>&copy; 2016 Code & Pain</span>
            </div>
        </div>
    </nav>
    <ui-view name="application"></ui-view>
</div>
