@import "variables";

.users-state {
    body, html{
        width: $width-full;
    }
    padding: $padding-inside-form;
    display: flex;
    flex-direction: column;

    button {
        color: #fff;
        border: none;
        padding-top: 7px;
        padding-bottom: 7px;
        @include border-radius(3px);
        margin: $space-small;
        width: $size-base;
    }
   button:hover {
        cursor: pointer;
    }

    button.button-admin{
        background-color: $gray-lighter;
        color: $gray-light;
        border: $border-thin-light;
        cursor: auto;
    }

    button.button-ban{
        background-color: $cyan;
    }
    button.button-ban:hover {
        background-color: $cyan-light;
    }

    button.button-unban{
        background-color: $red;
    }
    button.button-unban:hover {
        background-color: $red-light;
    }

    ul.users-list{
        list-style: none;
        width: $width-full;
        padding: 0;
    }
    div{
        display: inline-block;
    }
    h1{
        color: $red;
        font-weight: bold;
        text-decoration: none;
        margin-top: $space-big;
        padding-bottom: $space-base;
        border-bottom: 2px $red solid ;
        display: inline-block;
    }
    h2{
        display: inline-block;
    }
    span.option{
        font-size: $font-size-base-big;
        color: $gray;
        font-weight: bold;
    }

    select{
        border: 0;
        font-size: $font-size-base-big;
    }

    select:focus, select:active {
        border:0;
        outline:0;
    }

    select.options-red{
        color: $red;
    }

    select.options-gray{
        color: $gray;
    }
    .avatar{
        float: left;
        overflow: hidden;
        width: $size-base;
        height: $size-base;
        border-radius: 50% 50%;
        border: $border-thin-light;
    }

    div.options{
        float: right;
        margin-top: inherit;
    }

    div.user-info{
        float: left;
    }
    img{
        height:$size-base;
    }
    div.info{
        height: $size-base;
        margin-left: $space-base;
    }
    div.user-item{
        display: block;
        height: $size-base;
        width: $width-full;
        margin: $space-base 0 $space-base 0;
        padding-top: $space-small;
        border-top: $border-thin-light;
    }

    #username:hover{
        cursor: pointer;
    }
    p.description{
        margin: 0;
        color: $gray;
        font-size: $font-size-base;
    }

    @media screen and (max-width: 768px) {
        padding: $padding-for-mobile;
    }
}
