@import "variables";

.cap-tag-list {
    ul{
        padding:0;
        margin-bottom: 0;
        list-style: none;
    }
    .cap-tag-list-item{
        display: inline-block;
        margin: 12px 6px;
    }
    .cap-tag-list-item>span{
        border-bottom: $cyan 1px solid;
        font-size: $font-size-base;
        padding: 6px;
    }
    .cap-tag-list-item>span:hover{
        background-color: $cyan-light;
        cursor: pointer;
        transition: $transition-ease-fast;
    }
    .active-tag {
        background-color: $cyan-light;
    }

}
