<div class="cap-tag-list">
    <ul class="list-inline">
        <li class="cap-tag-list-item" ng-repeat="tag in $ctrl.tagsToDisplay">
            <span ng-click="$ctrl.onSelected(tag); $ctrl.getActiveTags({active: $ctrl.activeTags})"
                  ng-class="{'active-tag': $ctrl.isSelectedTag(tag)}"
                  class="label tag" ng-bind="::tag.name">
            </span>
        </li>
    </ul>
</div>

