<div class="about-state">
    <div id="about">
        <h1>About Us</h1>
        Our platform is a code playground that offers a quick way to experiment with ES6 and share with others. We allow
        you to test and keep experimental snippets code without firing up your IDE.
        In addition, you will find a blog with the tricks and tips you need to code like a master. This is a coding blog
        written for coders. For your comfort, you are able to register on our site and have your own account! <a class="registration"
        ui-sref="app.register">Try it now!</a>
        <br><br>
        <h1>Our team</h1>
        <div id="fotos">
            <div class="foto-container"><img
                src="src/components/about-state/images/igor.jpg"
                alt="foto7" class="foto" width="120px">Ihor Tsvietkov
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/andrey.png"
                alt="foto1" class="foto" width="120px">Andrei Zubrytskyi
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/john.jpeg"
                alt="foto2" class="foto" width="120px">Bohdan Volyk
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/vova.png"
                alt="foto3" class="foto" width="120px">Volodymyr Pantasenko
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/kate.png"
                alt="foto4" class="foto" width="120px">Kateryna Mazurkevych
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/lucy.jpg"
                alt="foto5" class="foto" width="120px">Liudmyla Polianychko
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/maksim.png"
                alt="foto6" class="foto" width="120px">Maksym Yurchenko
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/ostap.jpg"
                alt="foto7" class="foto" width="120px">Ostap Khomitskyi
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/yaroslav.jpg"
                alt="foto8" class="foto" width="120px">Yaroslav Samoilenko
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/olena.jpg"
                alt="foto5" class="foto" width="120px">Olena Ruda
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/aleksey.jpeg"
                alt="foto6" class="foto" width="120px">Aleksey Pastuhov
            </div>
            <div class="foto-container"><img
                src="src/components/about-state/images/jenya.png"
                alt="foto8" class="foto" width="120px">Yevhenii Udovychenko
            </div>
        </div>
    </div>
    <div id="form">
        <form ng-submit="aboutState.showConfirmMessage()" name="aboutForm" class="aboutForm"
              novalidate>
            <div id="mainContainer">
                <h1>Contact Us</h1>
                <div id="containerTextLeft">
                    <label for="name">Name</label><br>
                    <input type="text" id="name" ng-model="aboutState.user.name" name="uName" required=""/>
                    <br>
                    <div ng-show="aboutForm.$submitted || aboutForm.uName.$touched">
                        <span ng-show="aboutForm.uName.$error.required">Tell us your name.</span>
                    </div>

                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" ng-model="aboutState.user.email"
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                           name="uEmail" required=""/>
                    <br>
                    <div ng-show="aboutForm.$submitted || aboutForm.uEmail.$touched">
                        <span ng-show="aboutForm.uEmail.$error.required">Tell us your email.</span>
                        <span ng-show="aboutForm.uEmail.$error.pattern">This is not a valid email.</span>
                    </div>

                    <label for="message">Message</label><br>
                    <textarea id="message" ng-model="aboutState.user.message" name="uMessage" required=""></textarea>
                    <br>
                    <div ng-show="aboutForm.$submitted || aboutForm.uMessage.$touched">
                        <span ng-show="aboutForm.uMessage.$error.required">Write a message</span>
                    </div>
                </div>

                <input id="send" type="submit" value="Send">

                <div class="confirm" ng-if="aboutState.confirmMesssageShow && aboutForm.$valid">Your message was sent
                    successfully!
                </div>
            </div>
        </form>
    </div>
</div>
