@import "variables";

.about-state {
    font-family: $font-family-base;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    div#about {
        margin-top: $space-big;
        background-color: $gray-lighter;
        color: $gray;
        font-family: $font-size-base-bigger;
        padding: $space-big $space-big 0 $space-big;
        width: 600px;
        text-align: justify;
    }

    div#fotos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        margin: $space-base 0 $space-base;
    }

    div.foto-container {
        height: 140px;
        text-align: center;
        width: 120px;
        margin: $space-base $space-small;
    }

    img.foto {
        overflow: hidden;
        width: 120px;
        height: 120px;
        border-radius: 50% 50%;
        border: $border-thin-light;
    }

    div#form {
        margin-top: $space-big;
    }

    form.aboutForm {
        background-color: $gray-lighter;
        border: none;
        padding: $space-small 0px;
        font-family: $font-size-base-big;
        color: $gray;
        height: 775px;
    }

    #mainContainer {
        margin: $margin-inside-form;
    }

    h1 {
        color: $gray;
        font-size: $font-size-base-bigger;
    }

    input#send {
        background-color: #DB4A39;
        color: white;
        padding: $padding-inside-button;
        margin: 20px 0px 10px 0px;
        border: none;
        @include border-radius(3px);
    }
    input#send:hover {
        background-color: #e66a5c;
        cursor: pointer;
        transition: background-color $transition-ease-fast;
    }

    input, textarea {
        outline: 0;
    }
    input#name, input#email, textarea:-webkit-autofill {
        margin: 5px 0 5px 0;
        background-color: white;
        width: $size-big;
        @include border-radius(3px);
        padding: $space-small;
        -webkit-box-shadow: inset 0 0 0 50px #fff !important;
        -webkit-text-fill-color: $gray !important;
        color: $gray !important;
        border: $border-thin-light;
    }

    #message {
        width: $size-big;
        border: $border-thin-light;
        height: $size-base;
        padding: $space-small;
    }

    label {
        margin: 20px 0 5px 5px;
        display: inline-block;
    }

    span {
        color: $red-dark;
    }

    .confirm {
        background-color: #c4ffc4;
        margin-top: $space-base;
        @include border-radius(7px);
        padding: $padding-inside-input;
        text-align: center;
    }

    a.registration {
        color: $red;
    }

    @media screen and (max-width: 768px) {

        form.aboutForm {
            height: 550px;
            text-align: center;
        }

        div.foto-container {
            height: 120px;
            width: 100px;
            margin: $space-small $space-small;
        }

        img.foto {
            width: 100px;
            height: 100px;
        }
    }

    @media screen and (max-width: 440px) {

        form.aboutForm {
            max-width: 300px;
            max-height: 450px;
            text-align: center;
        }

        #mainContainer {
            margin: 10px;
        }
    }

}
