@import 'variables';

.cap-text-editor {
    margin-top: 20px;
    padding-left: 16px;
    &__nav {
        margin-left: 0;
        font-size: 0;
    }
    .nav-text-editor {
        border-bottom: $border-thin-light;
        padding: 0;
        &__item {
            display: inline-block;
            list-style: none;
            font-size: $font-size-base;
        }
        &__link {
            display: block;
            background: $cyan-light;
            padding: 8px 15px;
            text-decoration: none;
            color: $gray-darker;
            &_first {
                @include border-radius(5px 0 0 0);
            }
            &_last {
                @include border-radius(0 5px 0 0);
            }
            &.active {
                background: $cyan;
                color: $white;
            }
        }
    }
    .CodeMirror {
        height: 400px;
        border: solid 1px $gray-light;
    }
    &__text {
        .text-block__text {
            min-height: 400px;
        }
    }
}
