<div class="edit-state">
    <h1 class="edit-state__title">Edit</h1>
    <cap-article-form article="editState.article"></cap-article-form>
    <button class="edit-state__btn" ng-click="editState.updateArticle()">Edit</button>
</div>