<label for="password">Password</label><br>
<input id="password" type="password" ng-model="capMatchPassword.password" ng-keyup="capMatchPassword.confirm()">
<div class="confirmIcon"> <span ng-show="capMatchPassword.password"
                                ng-class="{'fa fa-check': capMatchPassword.passwordLengthValid, 'fa fa-close': !capMatchPassword.passwordLengthValid}"></span>
</div>
<label for="passwordCofirm">Confirm Password</label><br>
<input id="passwordConfirm" type="password" ng-model="capMatchPassword.passwordConfirm"
       ng-keyup="capMatchPassword.confirm()">
<div class="confirmIcon"> <span ng-show="capMatchPassword.passwordConfirm"
                                ng-class="{'fa fa-check': capMatchPassword.passwordVerified, 'fa fa-close': !capMatchPassword.passwordVerified}"></span>
</div>


