body {
    padding-top: $header-height;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $gray-dark;
    background-color: $body-bg-base;
}

button:focus {
    outline: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

a:hover {
    cursor: pointer;
}
