@import "variables";

.cap-articles-pagination {

    .page-number{
        float: left;
        font-size: $font-size-base-big;
        border: $border-thin-regular;
        background: $white;
        color: $gray;
        cursor: pointer;

        &:hover{
            background: $gray-light;
        }
    }
}
