<div class="cap-article" cap-article-render>
    <article>
        <h1 ng-bind="$ctrl.article.title" class="cap-article-title"></h1>
        <div ng-bind-html="$ctrl.showText($ctrl.text)" id="article-text" class="cap-article-text"></div>
    </article>
    <aside>
        <h3 class="cap-article-description">
            <img class="cap-article-user-photo" ng-src="{{$ctrl.article.User.avatar}}">
            by
            <span ng-click="$ctrl.showProfile({id: $ctrl.article.User.id})"
                ng-bind="$ctrl.article.User.username"></span>
            <span ng-bind="$ctrl.article.createdAt | date:'yyyy/MM/dd'" class="cap-article-date"></span>
        </h3>
        <section class="cap-tag-list">
            <h2 class="section-title">Tags</h2>
            <cap-tag-list tags="$ctrl.article.Tags"
                          on-tag-selected="$ctrl.onSelectedTag(tag)"></cap-tag-list>
        </section>
        <section>
            <h2 class="section-title">Recent articles</h2>
            <ul class="cap-recent-articles">
                <li ng-repeat="recent in $ctrl.recent" class="cap-list-item">
                    <h5>
                        <a ui-sref="app.blog.article({alias: recent.alias})" ng-bind="recent.title"></a>
                    </h5>
                </li>
            </ul>
        </section>
    </aside>
</div>
