@import 'variables';

.cap-article {
    .section-title {
        color: $red;
        font-weight: bold;
    }

    .cap-article-title {
        border-bottom: $border-thin-light;
        padding-bottom: 33px;
    }

    .cap-article-description {
        font-weight: normal;
        color: $gray-regular;
        border-bottom: $border-thin-light;
        padding-bottom: 25px;

        span {
            text-transform: uppercase;
            cursor: pointer;
        }
        .cap-article-date {
            color: $red;
            display: block;
            padding-top: 5px;
        }

        .cap-article-user-photo {
            overflow: hidden;
            width: 60px;
            height: 60px;
            border-radius: 50% 50%;
            border: $border-thin-light;
            float: left;
            margin-right: 20px;
            margin-top: -10px;
        }
    }

    .cap-article-text {
        font-size: $font-size-base;
    }

    .cap-list-item {
        a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
            font-size: $font-size-base-bigger;
        }
        border-bottom: $border-thin-light;
        list-style: none;
    }

    .cap-recent-articles {
        .cap-list-item {
            a {
                color: #333;
                text-decoration: none;
                font-weight: normal;
                font-size: $font-size-base;
            }
        }
        padding-left: 0px;
    }

}


