@import "variables";

.profile-state {
    padding: 40px 15%;
    display: flex;
    flex-direction: column;
    .profile-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .profileTitle {
        border-bottom: $border-thin-light;
        padding-bottom: 15px;
        color: $red;
        font-weight: bold;
        text-decoration: none;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .foto {
        margin-right: 20px;
    }
    .content {
        flex-grow: 3;
    }
    .name {
        color: $red;
        font-weight: bold;
        text-decoration: none;
        font-size: $font-size-base-bigger;
    }
    h3 {
        border-bottom: $border-thin-light;
        padding-bottom: 15px;
        color: $red;
        font-weight: bold;
        text-decoration: none;
        font-size: $font-size-base-big;
        margin-top: 40px;
    }
    #upload, #editBtn, #saveBtn, #cancelBtn, .deleteBtn {
        background-color: $cyan;
        color: #fff;
        border: none;
        padding-top: 7px;
        padding-bottom: 7px;
        @include border-radius(3px);
        margin: 10px;
        width: 100px;
    }
    #upload, #editBtn, #saveBtn, #cancelBtn:hover {
        cursor: pointer;
        background-color: $cyan-light;
    }
    .deleteBtn {
        cursor: pointer;
        background-color: $red;
    }
    .userPhoto {
        overflow: hidden;
        width: 120px;
        height: 120px;
        border-radius: 50% 50%;
        border: $border-thin-light;
    }
    textarea {
        width: 500px;
    }
    @media screen and (max-width: 768px) {
            padding: 0 15px 0 15px;
        .content{
            flex-grow: 2;
        }
    }


    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    #upload label {
        cursor: pointer;
    }

    .save-buutons{
        display: flex;
        flex-direction: column;
    }
}

