<div class="profile-state">
    <div ng-cloak>
        <h1 class="profileTitle">Profile</h1>
        <form editable-form name="editableForm "
              onaftersave="profileState.saveUser(profileState.profileId, profileState.user.description)"
              class="profile-form">
            <div class="foto">
                <img class="userPhoto"
                     ng-src="{{profileState.user.avatar}}"
                     alt="Avatar">
                <br>

            <span ng-show="editableForm.$visible" class="save-buutons">
            <button id="saveBtn" type="submit"  ng-disabled="editableForm.$waiting">Save</button>
            <button id="cancelBtn" type="button"  ng-disabled="editableForm.$waiting"
                    ng-click="editableForm.$cancel()">Cancel</button>
            </span>
                <div class="buttons">
                    <input cap-upload-photo-directive type="file" id="upload-avatar" class="inputfile"/>
                    <button id="upload">
                        <label for="upload-avatar">Upload avatar</label>
                    </button>
                    <button ng-if="profileState.isAdmin || profileState.isOwner" id="editBtn" type="button"  ng-click="editableForm.$show()"
                            ng-show="!editableForm.$visible">Edit
                    </button>
                    <button ng-if="profileState.isAdmin && !profileState.user.isBanned" class="deleteBtn" type="button"
                            ng-click="profileState.banUser(profileState.user, true)">
                        Ban user
                    </button>
                    <button ng-if="profileState.isAdmin && profileState.user.isBanned" class="deleteBtn" type="button"
                            ng-click="profileState.banUser(profileState.user, false)">
                        Unban user
                    </button>
                    <button ng-if="profileState.isAdmin" class="deleteBtn" type="button"
                            ng-click="profileState.deleteAllUserArticles()">
                        Delete all articles
                    </button>
                </div>

            </div>
            <div class="content">
                <h2><span class="name" editable-textarea="profileState.user.username"
                          ng-bind="profileState.user.username"></span></h2>
                <h2 class="name" ng-if="profileState.user.isBanned">BANNED</h2>
                <span ng-if="profileState.isAdmin || profileState.isOwner" ng-bind="profileState.user.email"></span>
                <h3 class="about">About</h3>
                <span editable-textarea="profileState.user.description"
                      ng-bind="profileState.user.description"></span>
                <h3 class="">User articles</h3>
                <cap-articles-list articles="profileState.userArticles"></cap-articles-list>
            </div>
        </form>
    </div>
</div>
