<div class="cap-users-list">
    <span class="users-filter"></span>
    <span class="option"> Sort by:</span>
    <select class="options-red" id="users-order-select"
            name="users-order-select"
            ng-model="$ctrl.selectedSortingProperty"
            ng-options="sortingProperty.property as sortingProperty.name for sortingProperty in $ctrl.sortingProperties"
            ng-change="$ctrl.sortUsersBy($ctrl.selectedSortingProperty)">
    </select>
    &nbsp; &nbsp;
    <span class="option"> Role:</span>
    <select class="options-red" id="users-filter-select"
            name="users-filter-select"
            ng-model="$ctrl.selectedRoleId"
            ng-options="role.id as role.name for role in $ctrl.roles"
            ng-change="$ctrl.filterUsersBy('role_id', $ctrl.selectedRoleId)">
        <option value="">all</option>
    </select>
</div>
<ul class="users-list">
    <li class="user-item"
        ng-repeat="user in $ctrl.users">
        <div class="user-item">
            <div class="user-info">
                <div class="avatar">
                    <img ng-src="{{user.avatar}}" alt="avatar">
                </div>
                <div class="info">
                    <h2 id="username" ng-bind="user.username"
                        ng-click="$ctrl.goToProfileState(user.id)">
                    </h2>
                    <p class="description"
                       ng-bind="$ctrl.checkUserDescription(user)">
                    </p>
                </div>
            </div>
            <div class="options">
                <select id="roles-select"
                        class="options-gray"
                        name="roles-select"
                        ng-model="user.role_id"
                        ng-options="role.id as role.name for role in $ctrl.roles"
                        ng-change="$ctrl.updateUser(user)">
                </select>
                <button ng-if="user.role_id === 1" class="button-admin" type="button">Admin can't be banned</button>
                <button ng-if="(user.role_id === 2 && user.isBanned === false)" class="button-ban" type="button"  ng-click="$ctrl.banUser(user, true)">Ban</button>
                <button ng-if="(user.role_id === 2 && user.isBanned === true)" class="button-unban" type="button"  ng-click="$ctrl.banUser(user, false)">Unban</button>
            </div>
        </div>
    </li>
</ul>
