.cap-users-list {
    width: 100%;
    .user-item {
        .info {
            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
