<div class="cap-articles-list">
    <ul class="list-unstyled cap-list">
        <input type="search" id="search" ng-model="searchBox.title">

        <li dir-paginate="article in $ctrl.articles |  filter:searchBox | itemsPerPage:3" class="cap-list-item">
            <h4>
                <a ui-sref="app.blog.article({alias: article.alias})" ng-bind="article.title"></a>
            </h4>
            <h5>
                <span>by <span class="author" ng-click="$ctrl.showProfile({id: article.User.id})"
                               ng-bind="article.User.username"></span></span>
                <span ng-bind="article.updatedAt | date:'yyyy/MM/dd'" class="cap-article-date"></span>
            </h5>
        </li>
    </ul>
    <dir-pagination-controls
        max-size="3"
        direction-links="true"
        boundary-links="true">
    </dir-pagination-controls>
</div>
