<div class="cap-login">
    <form ng-submit="$ctrl.submitLogin()" id="loginForm" novalidate name="login">
        <div id="mainContainer">
            <h3>Log in with:</h3>
            <a ng-href="{{$ctrl.API_URL.BASE + $ctrl.API_URL.GOOGLE_AUTH}}"><i class="fa fa-google fa-3x" aria-hidden="true"></i></a>
            <a ng-href="{{$ctrl.API_URL.BASE + $ctrl.API_URL.FACEBOOK_AUTH}}"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
            <a ng-href="{{$ctrl.API_URL.BASE + $ctrl.API_URL.GITHUB_AUTH}}"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <fieldset>
                <div id="containerTextLeft">
                    <div id="or">
                        <hr>
                        <b> &nbsp; OR &nbsp;</b>
                        <hr>
                    </div>
                    <label for="username">Email</label><br>
                    <input id="username" type="text" ng-model="$ctrl.fields.username"><br>
                    <label for="password">Password</label><br>
                    <input id="password" type="password"
                           ng-model="$ctrl.fields.password"><br>
                </div>
                <p id="forgotPass"><a href="">Forgot password?</a></p>
                <input id="login" type="submit" value="Log in">
                <p id="signUp">Don't have an account? <a ui-sref="app.register">Sign Up</a></p>
            </fieldset>
        </div>
    </form>
</div>
