@import 'variables';

.cap-snippets-list {
    .snippet-name-button{
        display: block;
        cursor: pointer;
        margin: $code-btn-margin;
        border: $border-thin-cyan-dark;
        @include border-radius(3px);
        background: $cyan-light;
        color: $white;
        font-size: $font-size-base;
    }

    .snipped-code{
        margin: $code-btn-margin;
        font-size: $font-size-base;
    }

    hr{
        border: none;
        color: $gray-light;
        background-color: $gray-light;
        height: 2px;
    }
}
