@import 'variables';

.create-article-form {
    &__block {
        border: none;
        padding: 0 10px 15px 10px;
    }
    .title-block {
        &__labe {
            display: block;
            width: 40px;
            cursor: pointer;
            color: $gray;
            font-size: 16px;
            margin-bottom: 4px;
        }
        &__ititle {
            box-sizing: border-box;
            width: 100%;
            margin: 0 5px 4px;
            padding: 10px;
            border: $border-thin-light;
            @include border-radius(3px);
        }
        &__val {
            color: $red;
            font-size: 12px;
            &:before {
                content: '*';
                padding-right: 3px;
                vertical-align: sub;
            }
        }
    }
    .alias-block {
        &__labe {
            display: block;
            width: 40px;
            cursor: pointer;
            color: $gray;
            font-size: 16px;
            margin-bottom: 4px;
        }
        &__ialias {
            box-sizing: border-box;
            width: 100%;
            margin: 0 5px 4px;
            padding: 10px;
            border: $border-thin-light;
            @include border-radius(3px);
        }
        &__val {
            color: $red;
            font-size: 12px;
            &:before {
                content: '*';
                padding-right: 3px;
                vertical-align: sub;
            }
        }
    }
    .tags-input{
        box-sizing: border-box;
        width: 30%;
        margin: 0 5px 4px 15px;
        padding: 10px;
        border: $border-thin-light;
        @include border-radius(3px);
    }
    .add-tag-button{
        color: $cyan-dark;
        padding-top: 10px;
    }
    .create-tags-group{
        margin-top: 20px;
    }
    .add-tags-choice{
        width: 30%;
        padding: 10px;
        background: white;
        margin-top: 20px;
        border: $border-thin-light;
        @include border-radius(3px);
    }
    .tag-list-item{
        display: inline-block;
        margin: 12px 6px;
        border-bottom: $cyan 1px solid;
        font-size: $font-size-base;
        padding: 6px;
        background-color: $cyan-light;
    }

    .tag-list-item:hover{
        background-color: $cyan-light;
        cursor: pointer;
        transition: $transition-ease-fast;
    }

    .custom-tag-list{
        margin: 20px;
    }
}
