<form name="form" class="create-article-form" novalidate>
    <fieldset class="create-article-form__block create-article-form__title title-block">
        <label for="create-title" class="title-block__labe">Title</label>
        <input ng-model="$ctrl.article.title"
               ng-change="$ctrl.filterAlias()"
               ng-blur="form.title.$dirty && $ctrl.checkIfArticleExists()"
               name="title"
               maxlength="64"
               minlength="3"
               type="text"
               class="title-block__ititle"
               id="create-title"
               placeholder="Article title"
               required>
                <span ng-show="form.title.$error.minlength || form.title.$error.maxlength" class="title-block__val">
                min length 3 & max length 64!</span>
        <span ng-show="form.title.$error.required" class="title-block__val">This field is required!</span>
    </fieldset>
    <fieldset class="create-article-form__block create-article-form__alias alias-block">
        <label for="create-alias" class="alias-block__labe">Alias</label>
        <input ng-model="$ctrl.article.alias"
               ng-blur="form.alias.$dirty && $ctrl.checkIfArticleExists()"
               ng-pattern="/^[-/a-zA-Z0-9]+$/"
               name="alias"
               maxlength="64"
               minlength="3"
               type="text"
               class="alias-block__ialias"
               id="create-alias"
               placeholder="Article alias"
               required>
                <span ng-show="form.alias.$error.minlength || form.title.$error.maxlength" class="alias-block__val">
                min length 3 & max length 64!</span>
        <span ng-show="form.alias.$error.pattern" class="alias-block__val">Not a valid alias!</span>
        <span ng-show="form.alias.$error.required" class="alias-block__val">This field is required!</span>
        <span ng-show="$ctrl.aliasIsTaken" class="alias-block__val">This alias is already taken!</span>
    </fieldset>

    <fieldset class="create-article-form__block create-article-form__alias alias-block">
        <label for="create-alias" class="alias-block__labe">Tags</label>
        <select class="add-tags-choice" ng-model="$ctrl.userChoice">
            <option class="add-tags-option" ng-repeat="option in $ctrl.choiceToAddTags">{{option}}</option>
        </select>
    </fieldset>

    <div class="create-tags-group" ng-show="$ctrl.userChoice === $ctrl.choiceToAddTags[0]">
        <input class="tags-input" type="text">
        <a class="add-tag-button"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
        <div class="custom-tag-list" id="tag-list"></div>
    </div>

    <cap-tag-list ng-show="$ctrl.userChoice === $ctrl.choiceToAddTags[1]" class="choice-tags" tags="$ctrl.tags" get-active-tags="$ctrl.getActiveTags(active)"></cap-tag-list>
</form>
<cap-text-editor text="$ctrl.article.text"></cap-text-editor>
