<ui-view name="article">
    <div class="article-state">
        <h1 class="article-state-title"><a ui-sref="app.blog.articles">Blog</a></h1>
        <article>
            <cap-article text="articleState.getMarkdownText()"
                         recent="articleState.recent"
                         article="articleState.getArticle()"></cap-article>
        </article>
        <div class="edit-block" ng-if="articleState.isAdmin() || articleState.isOwner()">
            <button class="article-btn-edit" ui-sref="app.blog.article.edit">Edit</button>
            <button class="article-btn-delete" ng-click="articleState.deleteArticle()" ui-sref="app.blog.articles">Delete</button>
        </div>
    </div>
</ui-view>
