@import 'variables';

.article-state {
    display: flex;
    flex-direction: column;
    padding: 40px 15%;
    .cap-article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    article {
        overflow: hidden;
        flex-basis: 70%;
        flex-grow: 3;
        margin-right: 0px;
    }
    aside {
        flex-basis: 20%;
        flex-grow: 1;
    }

    .article-state-title {
        border-bottom: $border-thin-light;
        padding-bottom: 15px;
        cursor: pointer;

        a {
            color: $red;
            font-weight: bold;
            text-decoration: none;
        }
    }

    #article-text {
        margin-right: 30px;
        text-align: justify;
    }

    .article-btn-edit {
        background-color: $cyan;
        color: $white;
        padding: $btn-padding;
        margin: 20px 10px 10px 0;
        border: none;
        @include border-radius(3px);
        width: $btn-width;
    }

    .article-btn-delete {
        background-color: $cyan;
        color: $white;
        padding: $btn-padding;
        margin: $btn-margin;
        border: none;
        @include border-radius(3px);
        width: $btn-width;
    }

    .article-btn-delete:hover {
        background-color: $cyan-light;
        cursor: pointer;
    }

    .article-btn-edit:hover {
        background-color: $cyan-light;
        cursor: pointer;
    }

    .edit-block{
        flex-direction: row;
    }

    @media screen and (max-width: 768px) {
        padding: 0 15px 0 15px;
        .cap-article {
            flex-direction: column;
        }
        #article-text {
            margin: 0;
        }
    }

}

