@import "variables";

.articles-state {
    display: flex;
    flex-direction: column;
    padding: 40px 15%;
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    cap-articles-list{
        flex-grow: 4;
        flex-basis: 70%;
        margin-right: 20px;
    }

    h2{
        color: $red;
        font-weight: bold;
    }

    article {
        overflow: hidden;
    }
    .title{
        display: inline-block;
    }
    .titleButton{
        display: inline-block;
        float: right;
    }
    .create{
        float: right;
    }
    .article-state-title {
        border-bottom: $border-thin-light;
        padding-bottom: 15px;

        a {
            color: $red;
            font-weight: bold;
            text-decoration: none;
        }
    }
    .aside{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 25%;
    }
    button.createArticle{
        background-color: $cyan;
        color: #fff;
        padding: 10px 20px 10px 20px;
        margin: 20px 0 10px 0;
        border: none;
        @include border-radius(3px);
    }
    button.createArticle:hover{
        cursor: pointer;
        background-color: $cyan-light;
    }

    div.search{
        display: none;
    }
    .tags, .search {
        border-bottom: $border-thin-light;
        padding: 0 0 15px 0;
    }
    @media screen and (max-width: 768px) {
            padding: 0 15px 0 15px;
        .content{
            flex-direction: column;
        }
    }
}


