<div class="register-state">
    <form ng-submit="registerState.registerSubmit()" id="registerForm" novalidate name="register">
        <div id="mainContainer">
            <h3>Sign up with</h3>
            <a ng-href="{{registerState.API_URL.BASE + registerState.API_URL.GOOGLE_AUTH}}"><i class="fa fa-google fa-3x" aria-hidden="true"></i></a>
            <a ng-href="{{registerState.API_URL.BASE + registerState.API_URL.FACEBOOK_AUTH}}"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
            <a ng-href="{{registerState.API_URL.BASE + registerState.API_URL.GITHUB_AUTH}}"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <fieldset>
                <div id="containerTextLeft">
                    <div id="or">
                        <hr>
                        <b> &nbsp; OR &nbsp;</b>
                        <hr>
                    </div>
                    <label for="username">Username</label><br>
                    <input id="username" type="text" ng-model="registerState.fields.username"><br>
                    <label for="email">Email</label><br>
                    <input id="email" type="email" ng-model="registerState.fields.email"><br>
                    <cap-match-password ng-model="registerState.fields.password" min-length="8"></cap-match-password>
                    <br>
                </div>
                <input id="register" type="submit" value="Create account">
                <p id="signUp">Already have an account? <a ui-sref="app.login">Log in</a></p>
            </fieldset>
        </div>
    </form>
</div>
