@import "core";

$menu-list-item-padding-vertical: 10px;
$sidebar-width: 280px;
$logo-img-width: 134px;
$header-padding: 8px;

.application {
    header.application-header {
        background: $gray-lighter;
        color: $gray;
        font-size: $font-size-base-bigger;
        border-bottom: $border-thin-light;
        box-shadow: $shadow-light;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 999;

        .header-content {
            padding: $header-padding $side-padding;
            overflow: hidden;

            button.header-btn {
                margin: 0;
                padding: 0;
                border: none;
                color: $gray;
                background: transparent;

                &:hover {
                    color: $gray-regular;
                    cursor: pointer;
                    transition: color $transition-ease-fast;
                }
            }

            .side-nav-toggle {
                float: left;
            }

            .header-logo {
                position: absolute;
                left: 50%;
                margin-left: -($logo-img-width / 2);
                transition: opacity $transition-ease-fast;

                img {
                    height: $font-size-base-bigger;
                    vertical-align: middle;
                }

                &:hover {
                    color: $gray-regular;
                    cursor: pointer;
                    opacity: $opacity-normal;
                }
            }

            .user-account-wrapper {
                float: right;

                .user-name {
                    margin-right: $header-padding;
                    display: inline-block;
                    font-size: $font-size-base-big;

                    &:hover {
                        color: $gray-regular;
                        cursor: pointer;
                        transition: color $transition-ease-fast;
                    }
                }
            }

            i[class*="fa"] {
                vertical-align: middle;
                line-height: $font-size-base-bigger;
            }
        }

        &:before,
        &:after {
            display: table;
            content: " ";
            font-size: 0;
            clear: both;
        }
    }

    .overlay {
        background: $gray-dark;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 25;
        height: 100%;
        width: 100%;
        transition: opacity $transition-ease-normal, visibility $transition-ease-normal;

        &.overlay-show {
            opacity: $opacity-normal;
            visibility: visible;
        }

        &.overlay-hidden {
            opacity: 0;
            visibility: hidden;
        }
    }

    nav.application-navigation {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        padding: $header-height 0 0 0;
        background: $gray-lighter;
        color: $gray-darker;
        font-size: $font-size-base-big;
        overflow: hidden;
        transition: width $transition-ease-normal;

        &.nav-hidden {
            width: 0;
        }

        &.nav-expanded {
            width: $sidebar-width;
        }

        .nav-wrapper {
            ul li {
                padding: $menu-list-item-padding-vertical 0;
                min-width: $sidebar-width;

                .menu-item {
                    padding: 0 $side-padding;
                }

                i[class*="fa"] {
                    width: 30px;
                    margin-right: 10px;
                    color: $gray;
                    text-align: center;
                    font-size: $font-size-base-bigger;
                }

                &:hover {
                    cursor: pointer;
                    background: $red-light-transparent;
                    transition: background-color $transition-ease-fast;
                }
            }

            .active-page {
                background: $red-light-transparent;
            }

            .copyright {
                position: absolute;
                min-width: $sidebar-width;
                left: 0;
                bottom: $side-padding;
                transform: translateY(-200%);
                text-align: center;

                span {
                    font-size: $font-size-small;
                    color: $gray-regular;
                }
            }
        }
    }
}
